.jumbotron {
    background-image: url('./HomeBg.jpg');
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    margin: 0;
} 

.jumbotron h1{
    color: whitesmoke;
    font-size: 80px;
}

.jumbotron p{
    color: whitesmoke;
    font-size: 50px;
} 

.jumbotron-content {
    margin-top: 3.5rem;
}